/* ===================================================================================================== */
/* || GENERAL */
/* ===================================================================================================== */
* {
    display: flex;
    font-size: 3vmin;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

title {
    display: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-size: cover;
    background-color: #242424;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.03em 0.03em rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    height: 100%;
}

/* ===================================================================================================== */
/* || HEADER */
/* ===================================================================================================== */
header,
.header-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
    max-height: 10%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
    .header-content {
        justify-content: start;
        padding-left: 15vw;
        padding-right: 15vw;
    }
        #header-content-left {
            align-items: center;
            justify-content: flex-start;
            flex: 0 0 50%;
            gap: 3vmin;
        }
            #header-content-left img {
                width: 7vmin;
                height: 7vmin;
            }

        #header-content-right {
            align-items: center;
            justify-content: flex-end;
            flex: 0 0 50%;
            gap: 3vmin;
        }
            #header-content-right p {
                font-size: 2vmin;
            }


/* ===================================================================================================== */
/* || MAIN CONTENT */
/* ===================================================================================================== */
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button {
    border-radius: 0.3em;
    background-color: rgb(219, 155, 35);
    color: white;
    text-shadow: 0.03em 0.03em rgba(0, 0, 0, 0.75);
}

/* ===================================================================================================== */
/* || HOMEPAGE */
/* ===================================================================================================== */
#homepageContent,
#hero-img {
    width: 100%;
    height: 50vmin;
    margin-bottom: 2vmin;
}

#hero-img {
    object-fit: cover;
    margin-bottom: 2vmin;
}


/* ===================================================================================================== */
/* || ORDERING */
/* ===================================================================================================== */
#orderContent {
    display: block;
    width: 85%;
    height: auto;
}

#orderBackground {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    top: 0;
    left: 0;
    background-color: rgb(255, 253, 232);
    width: 100%;
    height: 50vmin;
    border-radius: 0.3em;
    gap: 2vmin;
    padding: 1vmin;
}

.beverageItemContainer {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 14%;
    height: 50%;
    cursor: default;
    user-select: none;
    background-color: blue;
    border-radius: 0.3em;
}
    .beverageItemContainer img {
        width: 100%;
        height: 100%;
        border-radius: 0.3em;
    }
    .beverageItemContainer p {
        font-size: 1.5vmin;
    }

#orderMenu {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 75%;
}

/* ===================================================================================================== */
/* || FOOTER */
/* ===================================================================================================== */
footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2vmin;
}

/* ===================================================================================================== */
/* || ORDERING */
/* ===================================================================================================== */
